//
// general.scss
//

@use "variables" as *;

@use "sass:color";

/*********************************/
/*         General                */
/*===============================*/
body {
    font-family: $font-family-secondary;
    overflow-x: hidden !important;
    font-size: $font-size-base;
    color: $dark !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family-base;
    line-height: 1.5;
    font-weight: 600 !important;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    line-height: 1.2;
}

::selection {
    background: color.adjust($dark, $lightness: 5%);
    color: $white;
}

a {
    text-decoration: none !important;
}

p {
    line-height: 1.8;
}